$primary-background-color: rgba(255, 29, 142, 0.8);// Neon-pink
$secondary-background-color: rgba(255, 182, 218, 0.8);// Light-pink
$tertiary-background-color: white; 
$primary-font-color: black;
$secondary-font-color: gray; 

.background{
  background-color: $secondary-background-color;
}

hr{
  height: 0;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  color: $secondary-background-color;
  background-color: $secondary-background-color;
  border: none;
  border-top: 1px solid $primary-background-color;
  border-bottom: 1px solid $primary-background-color;
}