$primary-background-color: rgba(237, 242, 242, 0.8);
$primary-font-color: rgba(237, 242, 242, 0.8);
$secondary-font-color: rgba(237, 242, 242, 0.8);


hr{
  height: 0;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  color: $primary-background-color;
  background-color: $primary-background-color;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}