@import "colors";

.lineup{
  display: inline-block;
}

#header{
  // position: fixed;
  z-index: 101;
  background-color: $tertiary-background-color;
}

.header-wrapper{
  // position: relative;
}

.header-bar{
  display: inline-block;
  padding: 10px;
}

.header-left{
  display: inline-block;
}

#logo{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  padding-bottom: 5px;
  &:hover{
    background-color: $tertiary-background-color;
  }
}

#search-bar{
  text-align: left;
  border-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $secondary-background-color;
  color: $primary-font-color;
}

#search-bar::-webkit-input-placeholder {
   color: $secondary-font-color;
}

#dropdown{
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

// this is funny, without the a tag, text-alight left doesn't work 
a.header-right{
  display: inline-block;
  padding: 6px 12px;
  text-align: left;
  overflow: hidden;
  background-color: $tertiary-background-color;
  &:hover{
    background-color: $secondary-background-color;
  }
}

#avatar{
  width: auto;
  height: 20px;
  padding: 0;
}

#user-name{
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
  color: $primary-font-color;
}
