@import "colors";

.background{
  background-color: $secondary-background-color;
  min-height: 100vh;
}

hr{
  height: 0;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  color: $secondary-background-color;
  background-color: $secondary-background-color;
  border: none;
  border-bottom: 1px solid $primary-background-color;
}

.home-index-pins{
  margin-top: 56px; 
}