@import "colors";

.no-result{
  // display: visible;
  // width: 50%;
  // height: 50%;
  // padding: 50px;
  // z-index: 300;
  // text-align: center;
  // margin: 0 auto;
  // position: fixed;
  // top: 55;
  // width: 100vw;
  height: 50%;
  // overflow-y: hidden;
  color: $secondary-font-color;
  // background-color: $secondary-background-color;
}

div.pin-outer{
  background-color: transparent; 
}

div.pin{
  width: 100%;
  border-radius: 10px;
  // border: solid $primary-background-color 2px;
}

div.thumbnail{
  border-radius: 10px;
  padding: 0px;
}

div.picture-wrap {
  position: relative;
  width: 100%;
}

div.picture-wrap:hover .panel-visible{
  display: inherit;
}

.panel-visible{
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}

div.like-button{
  width: 100%;
  text-align: right;
  padding: 10px;
  &:hover{
  }
}

.red-like{
  position: absolute;
  z-index: 50;
}

div.url{
  width: 100%;
  text-align: left;
  font-size: 11px;
  padding: 5px;
  position: absolute;
  bottom: 5px;
  overflow-wrap:break-word; 
  a:hover{
    text-decoration: none;
    color: $secondary-font-color;
  }
}

a.link{
  width: 100%;
  color: $secondary-font-color;
  padding-left: 10px;
}

.source-url{
  padding-left: 5px;
  overflow-wrap: break-word;  
}

button.heart{
  &:hover{
  // cursor: wait;
  }
}

.image{
  width:100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.thumbnail .caption{
  padding: 0px;
}

h2.category{
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10px;
  overflow-wrap: break-word;
  color: $secondary-font-color;
}

h1.title{
  // border-bottom: 1px $primary-background-color solid;
  font-size: 14px;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  overflow-wrap: break-word;
  background-color: $primary-background-color;
}

p.description{
  font-size: 11px;
  padding: 20px;
  overflow-wrap: break-word;
  &:hover {
    // cursor: wait;
  }
}

.pin-show-link{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-content: center;
  &:hover{
    cursor: zoom-in;
  }
}

.pin-show-modal{
  position: fixed;
  z-index: 300;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: $secondary-background-color;
  overflow-x: hidden;
  overflow-y: scroll;
  &:hover{
    cursor: zoom-out;
  }
}

