$primary-background-color: rgba(237, 242, 242, 0.6);


.container-fluid{
  background-color: $primary-background-color;
}

.row{
  text-align: center;
}

#cross{
  width: 100%;
  text-align: right;
  position: absolute;
  margin-top: 0;
  position: fixed;
}

button.back{

}

.wrapper{
  width: 75%;
  max-width: 800px;
  border: solid 1px $primary-background-color;
  background-color: $primary-background-color;
  border-radius: 10px;
  display: inline-block;
  margin: 20px;
  margin-top: 40px;
}


.nav-content{
  padding: 15px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: gray 1px solid;
  box-shadow: 0px 1px 1px gray;
  text-align: left;
  // position: fixed;
  // width: 75vw;
}

.nav-content > button{
  margin: 10px;
}

.nav-content div.big-heart{
  float: right;
  display: inline-block;
}

.nav-content div.big-globe{
  display: inline-block;
}

a.big-link{
  margin: 5px;
  text-align: center;
  color: black;
  &:hover{
  text-decoration: none;
  color: gray;
  }
}

.image-content{
  text-align: center;
  border-bottom: gray 1px solid;
}

img.big-image{
  height: auto;
  width: 60%;
  border: $primary-background-color 1px solid;
  align-content: center;
}

.footer-content{
  text-align: left;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


div.footer-url{
  border-bottom: $primary-background-color 1px solid;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: 10px;
}

a.footer-link{
  color: black;
  font-weight: bold;
  margin: 10px;
  &:hover{
    text-decoration: none;
    color: gray;
  }
}

.footer-tite{
  padding: 10px;
}

p.des{
  margin-left: 10px;
  padding: 10px;
  padding-bottom:25px; 
}