$primary-background-color: rgba(237, 242, 242, 0.8);

div.pin-outer{
  background-color: transparent; 
}

div.pin{
  width: 100%;
  border-radius: 10px;
  border: solid $primary-background-color 2px;
}

div.thumbnail{
  border-radius: 10px;
  padding: 0px;
}

div.picture-wrap {
  position: relative;
  width: 100%;
  &:hover{
    // cursor: wait;
  }
}

div.picture-wrap:hover .panel-visible{
  display: inherit;
}

.panel-visible{
  height: 100%;
  width: 100%;
  position: absolute;
  // z-index: 1000;
  display: none;
}

div.like-button{
  width: 100%;
  text-align: right;
  padding: 10px;
  &:hover{
  }
}

div.url{
  width: 100%;
  text-align: left;
  font-size: 11px;
  padding: 5px;
  position: absolute;
  bottom: 5px;
  overflow-wrap:break-word; 
  a:hover{
    text-decoration: none;
    color: white;
  }
}

a.link{
  width: 100%;
  color: $primary-background-color;
  padding-left: 10px;
}

.source-url{
  padding-left: 5px;
}
button.heart{
  &:hover{
  // cursor: wait;
  }
}

// div.image{
//   display: block;
//   width: 100%;
//   height: 100vh;
//   // max-height: 500px;
//   align-content: center;
//   background-size: 100% auto;
//   background-repeat: no-repeat;
//   background-position: center center;
//   &:hover{
//   // cursor: wait;
//   }
// }

.image{
  width:100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.thumbnail .caption{
  padding: 0px;
}

h2.category{
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10px;
  overflow-wrap: break-word;
  color: gray;
}

h1.title{
  border-bottom: 1px $primary-background-color solid;
  font-size: 14px;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  overflow-wrap: break-word;
}

p.description{
  font-size: 11px;
  padding: 20px;
  &:hover {
    // cursor: wait;
  }
}

.pin-show-link{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-content: center;
  &:hover{
    cursor: url('zoom-in.png');
    // cursor: wait;
  }
}

