@import "colors";

#cross{
  width: 100%;
  text-align: right;
  position: absolute;
  margin-top: 0;
  position: fixed;
}

button.back{
  background-color: $tertiary-background-color;
  &:hover{
    background-color: red;
  }
}

.wrapper{
  position: relative;
  z-index: 301;
  width: 75%;
  max-width: 800px;
  border: solid 1px $tertiary-background-color;
  background-color: $tertiary-background-color;
  border-radius: 10px;
  display: inline-block;
  margin: 20px;
  margin-top: 40px;
  overflow-y: scroll;
    &:hover{
    cursor: initial; //if you click it, it still closes the modal
  }
}


.nav-content{
  padding: 15px;
  background-color: $tertiary-background-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: gray 1px solid;
  box-shadow: 0px 1px 1px gray;
  text-align: left;
}

.nav-content > button{
  margin: 10px;
}

.nav-content div.big-heart{
  float: right;
  display: inline-block;
}

.big-heart > button{
  &:hover{
    background-color: $secondary-background-color;
  }
}

.num-likes{
  display: inline-block;
  margin-left: 8px; 
}

button.glyphicon-heart{
  display: inline-block;
}

.nav-content div.big-globe{
  display: inline-block;
}

.big-globe > button{
  &:hover{
    background-color: $secondary-background-color;
  }
}


a.big-link{
  z-index: 301;
  position: relative;
  margin: 5px;
  text-align: center;
  color: $primary-font-color;
  &:hover{
  text-decoration: none;
  color: $secondary-font-color;
  }
}

.image-content{
  text-align: center;
  border-bottom: $primary-font-color 1px solid;
  background-color: rgba(153, 139, 145,0.5);
}

img.big-image{
  height: auto;
  width: auto;
  align-content: center;
}

.footer-content{
  text-align: left;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


div.footer-url{
  border-bottom: $primary-font-color 1px solid;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px;
}

a.footer-link{
  z-index: 301;
  position: relative;
  color: $primary-font-color;
  font-weight: bold;
  margin: 10px;
  &:hover{
    text-decoration: none;
    color: $secondary-font-color;
  }
}

h2.title{
  font-size: 20px;
  padding-left: 20px;
  overflow-wrap: break-word;
}

p.des{
  color: $secondary-font-color;
  margin-left: 10px;
  padding: 10px;
  padding-bottom:25px; 
  margin-bottom: -5px;
}

