.profile-pix{
  width: 70px;
  height: auto;
  padding-top: 10px;
  
}

h1.user{
  color: gray;
  z-index: 0;
}

.profile{
  font-size: 12px;
  text-align: center;
  padding: 20px;
  max-width: 450px;
  display: inline-block;
  z-index: 0;
}

.user-details{
  right: 0;
  position: fixed;
  margin: 15px; 
}

.user-header{
  z-index: 1;
}

// .stay{
//   position: fixed;
// }