$primary-background-color: rgba(255, 29, 142, 0.8);// Neon-pink
$secondary-background-color: rgba(255, 182, 218, 0.8);// Light-pink
$tertiary-background-color: white; 
$primary-font-color: black;
$secondary-font-color: gray; 


.profile-pix{
  width: 70px;
  height: auto;
  padding-top: 10px;
  
}

h1.user{
  color: $primary-font-color;
  z-index: 0;
}

.profile{
  font-size: 12px;
  text-align: center;
  padding: 20px;
  max-width: 450px;
  display: inline-block;
  z-index: 0;
}

.user-details{
  right: 15px;
  position: fixed;
  margin: 15px; 
}

.user-header{
  z-index: 1;
}
