@import "colors";

.profile-pix{
  width: 70px;
  height: auto;
  padding-top: 10px;
  z-index: 2000;
}


h1.user{
  color: $primary-font-color;
  z-index: 88;
}

.profile{
  font-size: 12px;
  text-align: center;
  padding: 20px;
  max-width: 450px;
  display: inline-block;
  z-index: 88;
}

.logout-button{
  right: 15px;
  position: fixed;
  margin-top: 15px; 
}

.edit-button{
  right: 80px;
  position: fixed;
  margin-top: 15px;
}


.user-header{
  z-index: 88;
  position: fixed;
  top: 55px;
  width: 100%;
  background-color: $tertiary-background-color;
  border-top: 1px $secondary-background-color solid; 
  border-bottom: 1px $secondary-background-color solid;
  height: 62px;
}

#user-des{
  margin-top: 55px;
  z-index: 100;
}


div.user-login{
  width: 400px;
  padding: 20px;
  color: $primary-font-color;
  border: 2px solid $primary-background-color;
  background-color: white;
  top: 50px;
  position: fixed;
  align-content: center;
  text-align: center;
}

// this doesn't work
input.form-control:focus{
  outline: none;
}

.user-login-modal{
  position: fixed;
  z-index: 300;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  // align-content: center;
  background-color: $secondary-background-color;
  overflow-x: hidden;
  overflow-y: scroll;
}

