<h1>Header</h1>
<hr>
<div class="wrapper">
  <div class="header-bar">
    <div class="header-left">
      <button class="lineup btn btn-default"><img src="assets/logo.gif" id="logo"></button>
      <div class="lineup"><input id="search-bar" class="btn btn-default" placeholder="Search"></div>
      <div id="dropdown" class="lineup btn btn-default glyphicon glyphicon-list"></div>
    </div>
    <div class="header-right">
      <div class="lineup"><img src="assets/minion.jpg" id="avatar"class="img-circle"></div>
      <div id="user-name" class="lineup">User name</div>
    </div>
  </div>
</div>
<hr>