<div id="header" class="container-fluid">
  <div class="row">
    <div class="header-bar col-xs-10 col-xs-offset-1">
      
      <div class="header-left col-xs-10">
        <div class="row">
          <a href="#/" class="lineup btn btn-default col-xs-1" id="logo"><img src="assets/logo.gif"  height="20px"></a>
          <input type="text" id="search-bar" class="btn btn-default lineup col-xs-9" placeholder="Search">
          <button id="dropdown" class="lineup btn btn-default dropdown-toggle col-xs-1" data-toggle="dropdown">
            <div class="glyphicon glyphicon-list"></div>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu list-inline" role="menu">
            <li class="dropdown-list" ng-repeat='category in categories'>
              <a href="#" class="dropdown-category">{{ category.name }}</a>
            </li>
          </ul>
        </div>
      </div>

      <a href="#/user/ "class="header-right btn btn-default col-xs-2">
        <img src="assets/minion.jpg" id="avatar"class="img-circle lineup">
        <div id="user-name" class="lineup">Minion Kevin</div>
      </a>

    </div>
  </div>

</div>

