<div id="header" class="container-fluid">
  <div class="row">
    <div class="header-bar col-xs-12">
      <div class="header-left col-xs-10">
        <div class="row">
          <button ng-click="goHome()" class="glyphicon glyphicon-home lineup btn btn-default col-xs-1" id="logo"></button>
          <input ng-model="searchTerms" ng-keyup="getPins()" type="text" id="search-bar" class="btn btn-default lineup col-xs-9" placeholder="Search">
          <button id="dropdown" class="lineup btn btn-default dropdown-toggle col-xs-1" data-toggle="dropdown">
            <div class="glyphicon glyphicon-list"></div>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu list-inline" role="menu">
            <li class="dropdown-list" ng-repeat='category in categories'>
              <a ng-href="#/categories/{{ category.simplified_name }}" class="dropdown-category">{{ category.name }}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- if the user is logged in, will show logged in or email -->
      <div ng-show="user.signedIn">
      <!-- if the user view page is up, we don't want this button to do anything. no ng-click -->     
        <div ng-if="!user.viewUser">
        <!-- TOGGLE VIEW IN CONTROLLER DEP ON URL -> /profile -->
          <button ng-click="setUserView()" class="header-right btn btn-default col-xs-2">
            <img ng-src="<%= asset_path('minion.jpg') %>" id="avatar"class="img-circle lineup">

            <!-- what we show on the button will change depending on whether the user details are showing -->
            <div id="user-name" class="lineup">{{user.email}}</div>
          </button>
        </div>

        <!--  IF VIEWUSER == true THEN MUST BE ON URL -> /profile -->
        <div ng-if="user.viewUser">
          <button class="header-right btn btn-default col-xs-2">
            <img ng-src="<%= asset_path('minion.jpg') %>" id="avatar"class="img-circle lineup">
            <!-- what we show on the button will change depending on whether the user details are showing -->
            <div id="user-name" class="lineup">{{user.email}}</div>
          </button>
        </div>        
      </div>
      <!-- if the user is not signed in, show signup, toggle viewUser -->
      <div ng-show="!user.signedIn">
        <button ng-click="openModal()" class="header-right btn btn-default col-xs-2">
          <img ng-src="<%= asset_path('minion.jpg') %>" id="avatar"class="img-circle lineup">
          <div id="user-name" class="lineup">Sign Up / Sign In</div>
<!--           <div ng-show="user.viewUser" id="user-name" class="lineup">Close Sign Up</div> -->
        </button>
      </div>
    </div>
  </div>
</div>
<!-- IF VIEWUSER == true THEN ON URL /profile so must be signedIn == true also -->
<div ng-if="user.viewUser">
  <!-- <div ng-if="user.signedIn"> -->
    <user-details></user-details>
  <!-- </div> -->
  <!-- <div ng-if="!user.signedIn">
    <user-account></user-account>
  </div> -->
</div>
<user-account ng-show="user.openUser"></user-account>
