<hr>
<div class="wrapper">
  <div class="header-bar">
    <div class="header-left">
      <button class="lineup btn btn-default"><img src="assets/logo.gif" id="logo"></button>
      <div class="lineup"><input id="search-bar" class="btn btn-default" placeholder="Search"></div>
      <div id="dropdown" class="lineup btn btn-default glyphicon glyphicon-list"></div>
    </div>
    <button class="header-right btn btn-default ">
      <img src="assets/minion.jpg" id="avatar"class="img-circle lineup">
      <div id="user-name" class="lineup">Minion Kevin</div>
    </button>
  </div>
</div>
<hr>
<!-- User Info -->
<div class="wrapper">
  <img src="assets/minion.jpg" class="img-circle profile-pix">
  <h1 class="user">Minion Kevin</h1>
  <div class="profile">Web-development Hihi Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco l</div>
</div>
<hr>