


<div class="background container-fluid">
  <div class="row central">
    <div id="cross">
      <button  class="btn btn-default btn-md glyphicon glyphicon-remove back"></button>
    </div>
    
    <div class="wrapper">

        <div class="nav-content">
          <div class="big-globe">
            <button class=" btn btn-default btn-sm glyphicon glyphicon-globe"><a href='#' class="big-link">Visit Site</a></button>
          </div>
          <div class="big-heart">
            <button class=" btn btn-default btn-sm  glyphicon glyphicon-heart"></button>
          </div>
        </div>
          
        <a href="#"><div class="image-content">
          <img src="assets/Minion-Coffee.jpg" class="big-image">
        </div></a>

        <div class="footer-content">
          <div class="footer-url">
            <a href="#" class="footer-link"> Found on: http://www.link.com </a>
          </div>
          <div class="footer-title">
            <h1 class="title">Title bhahahahah</h1>
          </div>
          <div>
            <p class="des">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
    </div>
  </div>
</div>
