


<div class="container-fluid">
  <div class="row">
    <div id="cross">
      <button  class="btn btn-default btn-md glyphicon glyphicon-remove"></button>
    </div>
    
    <div class="wrapper">
    <!--   <div class="row"> -->
        <div class="nav-content">
          <button class="big-heart btn btn-default btn-sm  glyphicon glyphicon-heart"></button>

          <button class="big-globe btn btn-default btn-sm glyphicon glyphicon-globe"><a href='#' class="big-link">Visit Site</a></button>
        </div>
          
        <div class="image-content">
          <img src="assets/Minion-Coffee.jpg" class="big-image">
        </div>
        <div class="footer-content">
          <a href="#" class="footer-link"> Found on: http://www.link.com </a>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
