<div id="masonry-container" class="masonry masonry-brick transitions-enabled infinite-scroll clearfix background">
  <div id="{{pin.id}}" class="pin-outer col2 box has-gutters" ng-repeat='pin in pins' on-finish-render>
    <div class="pin thumbnail">
      <div class="picture-wrap">
        <div class="panel-visible">

     <!-- <a href="#/pins/{{pin.id}}" > -->
          <span class="pin-show-link" ng-show="true" ng-click="togglePin(pin.id)"></span>
          <!-- </a> -->

          <div class="like-button"><button class="btn btn-default btn-sm heart glyphicon glyphicon-heart"></button>
          </div>
          <div class="url">
            <a href='{{ pin.source_url }}' class="link glyphicon glyphicon-globe"><span class="source-url">{{ pin.source_url }}</span></a>
          </div>
        </div>
        <img ng-src="{{pin.img_url}}" class="image">
      </div>
      <div class="caption">
        <h2 class="category">{{ pin.category_name }}</h2>
        <h1 class="title" >
          {{ pin.title }}
        </h1>
        <p class="description">
          {{ pin.optional_info }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- zoom in and out modal part -->
<!-- <pin-show class="pin-show-modal" ng-show="open" ng-click="togglePin()"></pin-show> -->
<!-- <div class="pin-show-modal"> {{ helloworld }} </div> -->


 <!-- copy and paste -->
<div class="pin-show-modal" ng-show="open" ng-click="togglePin(pin.id)">
   <div class="row text-center">

    <div id="cross">
      <button  class="btn btn-default btn-md glyphicon glyphicon-remove back"></button>
    </div>
    
    <div class="wrapper">

        <div class="nav-content">
          <div class="big-globe">
            <button class=" btn btn-default btn-sm glyphicon glyphicon-globe"><a href='{{ pin.source_url }}' class="big-link">Visit Site</a></button>
          </div>
          <div class="big-heart">
            <button class=" btn btn-default btn-sm  glyphicon glyphicon-heart"></button>
          </div>
        </div>
          
        <a href="{{ pin.source_url }}">
          <div class="image-content">
            <img src="{{pin.img_url}}" class="big-image">
          </div>
        </a>

        <div class="footer-content">
          <div class="footer-url">
            <a href="{{ pin.source_url }}" class="footer-link"> Found on: {{ pin.source_url }} </a>
          </div>
          <div class="footer-title">
            <h2 class="title">{{ pin.title }}</h2>
          </div>
          <div>
            <p class="des">{{ pin.optional_info }}</p>
          </div>
        </div>
    </div>
  </div>
</div>
