
<div id="container" class="container-fluid">
  <h1>Fritter render Header</h1>
  <hr>
  <div class="pin-outer js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 200 }'>
    <div class="pin thumbnail">
      <div class="picture-wrap">
        <div class="visible">
          <div class="like-button"><button class="btn btn-xs btn-default heart glyphicon glyphicon-heart"></button></div>
          <div class="url">
            <a href='#' class="glyphicon glyphicon-globe"> http://www.babyohominion.com</a>
          </div>
        </div>
        <div class="image">
          <img class="pin-image" src="assets/Minion-Coffee.jpg">
        </div>
      </div>
      <div class="caption">
        <h1 class="title">
          Bhah  saahahahhahah hahahaha hahahahahah
        </h1>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip 
        </p>
      </div>
    </div>
  </div>
<!-- container close -->
</div>

