<h1>angular home index page</h1>

<div id="container" class="container-fluid">
  <div class="pin-outer item js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 200 }'>
    <div class="pin">
      <div class="image">
        <%= image_tag ('minion.jpg')%>
      </div>
      <div class="url">
        <a href='#'>http://www.minion.com</a>
      </div>
      <div class="title">
        <h1>Bhahahahahhahah</h1>
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      </div>
    </div>
  </div>
<!-- container close -->
</div>