<div class="text-center user-header">
  <button ng-controller="UserAccCtrl" ng-click="userSignOut()" class="logout-button btn btn-default btn-sm">Logout</button>
  <button class="edit-button btn btn-default btn-sm" ng-click="changeName()">Edit</button>
</div>
<div id="user-des" class="text-center">
  <img src="<%= asset_path('minion.jpg') %>" class="img-circle profile-pix">
  <!-- <h1 class="user">Show User name{{user.name}}</h1> -->
  <h2 class="user">{{user.username}}</h2>
  <p class="profile" ng-show="user.userprofile">{{user.userprofile}}</p>
  <p class="profile" ng-show="!user.userprofile">Welcome to my page</p>
</div>
<div class="change-user-wrap" ng-show="changing">  
  <div class="change-user-box">
      <form ng-submit="submitChange()">
        <label>Enter New Information</label>
        <div class="form-group">
          <input class='change-user form-control input-fields' ng-model='newUserName' placeholder="New Username">
        </div>
        <div class="form-group">
          <textarea rows="3" class='change-user form-control input-fields' ng-model='newUserProfile' placeholder="New User Profile"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-sm" type="submit">Save</button>
          <a class="btn btn-primary btn-sm" ng-click="cancelChange()">Cancel</a>
        </div>
      </form>
      {{newUserProfile}}
  </div>
</div>

