<div class="text-center user-header">
  <button ng-controller="UserAccCtrl" ng-click="userSignOut()" class="logout-button btn btn-default btn-sm">Logout</button>
  <button class="edit-button btn btn-default btn-sm">Edit</button>
</div>
<div id="user-des" class="text-center">
  <img src="<%= asset_path('minion.jpg') %>" class="img-circle profile-pix">
  <!-- <h1 class="user">Show User name{{user.name}}</h1> -->
  <h2 class="user">{{user.username}}</h2>
  <div class="profile">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco l
  </div>
</div>


