<div class="text-center user-header">
  <div ng-show="!user.signedIn">
  We should be redirecting you, as you are not logged in
  </div>
  <button ng-controller="UserAccCtrl" ng-click="userSignOut()" class="user-details btn btn-default btn-sm">Logout</button>
  <button class="user-details2 btn btn-default btn-sm">Edit</button>
</div>

<div class="profile-picture text-center">
</div>

<div id="user-des" class="text-center">
  <img src="assets/minion.jpg" class="img-circle profile-pix">
  <!-- <h1 class="user">Show User name{{user.name}}</h1> -->
  <h2 class="user">{{user.email}}</h2>
  <div class="profile">
    Web-development Hihi Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco l
  </div>
</div>


