<div class="text-center user-header">
  <button class="user-details btn btn-default btn-sm">Edit</button>
</div>

<div class="profile-picture text-center">
</div>

<div id="user-des" class="text-center">
  <img src="assets/minion.jpg" class="img-circle profile-pix">
  <h1 class="user">Minion Kevin</h1>
  <div class="profile">
    Web-development Hihi Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco l
  </div>
</div>

