
<div class="text-center col-xs-offset-1 col-xs-10">

  <div><h1 class="user">User: {{user}}</h1></div>
  <div ng-show="user.signedIn">
    <a ng-click="userSignOut()" href="">Logout</a>
  </div>

  <div class="col-xs-offset-1 col-xs-10 padded-form user-des">
  	<tabset justified="true">
      <tab heading="Sign Up - New User">

        <form ng-controller="UserAccCtrl" ng-submit="userSignUp()" class="form-horizontal">
          <input class="form-control input-fields" type="text" placeholder="Email" ng-model="signupEmail">
          <input class="form-control input-fields" type="text" placeholder="Username" ng-model="signupUsername">
          <input class="form-control input-fields" type="password" placeholder="Password" ng-model="signupPassword">
          <button class="btn" ng-click="userSignUp()">Sign Up</button>
        </form>

      </tab>
      <tab heading="Sign In">

        <form ng-controller="UserAccCtrl" ng-submit="userSignIn()" class="form-horizontal">
          <input class="form-control input-fields" type="text" placeholder="Email" ng-model="signinEmail">
          <input class="form-control input-fields" type="password" placeholder="Password" ng-model="signinPassword">
          <button class="btn" ng-click="userSignIn()">Sign In</button>
        </form>

      </tab>
    </tabset>  
  </div>
</div>

