
<div class="text-center col-xs-offset-1 col-xs-10">

	<tabset justified="true">
    <tab heading="Sign Up - New User">

      <form ng-controller="UserAccCtrl" ng-submit="userSignUp()">
        <input class="input-fields" type="text" placeholder="Email" ng-model="signupEmail">
        <input class="input-fields" type="text" placeholder="Username">
        <input class="input-fields" type="password" placeholder="Password">
        <input class="input-fields" type="password" placeholder="Confirm Password">
        <button class="btn" ng-click="userSubmit()">Sign Up</button>
      </form>

    </tab>
    <tab heading="Sign In">

      <form ng-controller="UserAccCtrl" ng-submit="userSignIn()">
        <input class="input-fields" type="text" placeholder="Email">
        <input class="input-fields" type="password" placeholder="Password">
        <button class="btn" ng-click="userSubmit()">Sign In</button>
      </form>

    </tab>
  </tabset>  
</div>

