<!DOCTYPE html>
<html ng-app="fritter">
<head>
  <title>Fritter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %> 
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-view ng-class="{'scroll-control': open || user.openUser}">
<h1>fritter</h1>
<%= yield %>

</body>
</html>
